* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  max-width: 100%;
}

/*  HEADER  */

.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
  ;
}

.left {
  display: flex;
  align-items: flex-start;
}

.right {
  display: flex;
  gap: 20px; 
}



.navbar a {
  float: left;
  color: #000;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  background-color: #555;
  color: white;
}

/*  BODY  */

main {
  padding: 1em 8em;
  margin-top: 20px;
  margin-bottom: 120px;
}

.upper {
  width: 45% !important;
  text-align: center;
}

.lower {
  border: 2px solid;
  border-radius: 10px;
  gap: 1rem;
  margin-top: 50px !important;
}

.shop {
  width: 28% !important;
  border: 2px solid;
  border-radius: 10px;
  gap: 1rem;
  margin-top: 50px !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.card {
  width: 20%;
  margin: 1rem;
}

.cards {
  width: 40%;
  margin: 1rem;
}

.w {
  width: 80%;
  margin: 1rem;
}

.card-header{}

.card-header > img {
  width: 80%;
}


.card-footer {
  margin-top: 1rem;
  display: flex;
  width: 90%;
  text-align: center;
}

.footer-left {
  border-radius: 25px;
  background-color: rgb(251, 247, 1);
  width: 30%;
  text-align: center;
}

.footer-right {
  width: 60%;
  text-align: right;
  margin-left: 10px;
}

/* FOOTER */

footer {
  border: 2px solid;
  position: static;
  bottom: 0px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: darkgray;
  padding: 25px;
}



/*  extra */

.backhome {
  position: absolute;
  left: 200px;
  text-decoration: none;
}

.frezze {
  position: absolute;
  right: 250px;
}

.p-25px {
  margin: 15px;
}

.vm {
  position: relative;
  top: 200px;
}

.p-5px {
  padding: 5px;
}

.p-10px {
  padding: 10px;
}
